python-telegram-bot==20.7
python-dotenv==1.0.1
langchain==0.1.12
langchain-community==0.0.27
langchain-huggingface==0.0.8
langchain-chroma==0.0.6
langchain-gigachat
langgraph
sentence-transformers==2.5.1
PyPDF2==3.0.1
pypdf
python-docx
docx2txt==0.8
numpy==1.26.4 